name: Check resource download and Jar generation

on:
  pull_request:
    branches:
      - master
  # push:
  #   branches:
  #     run checks also for renovate branches for auto-merge
  #     - 'renovate/**'

jobs:
  check-update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2

    - name: Download resources, build Jars, publish locally, run tests
      run: |
        ./gradlew downloads jars haleResourceBundles publishJarsToMavenLocal :test:test
      env:
        ORG_GRADLE_PROJECT_wetfArtifactoryUser: ${{ secrets.WETF_ARTIFACTORY_USER }}
        ORG_GRADLE_PROJECT_wetfArtifactoryPassword: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 # v6.2.0
      if: always() # always run even if the previous step fails
      with:
        report_paths: "test/build/test-results/**/*.xml"
        require_tests: true

        # Workaround for check that is additionally created being associated
        # to the wrong workflow/run. Instead no additional check is created.
        # See https://github.com/mikepenz/action-junit-report/issues/40
        annotate_only: true
        detailed_summary: true
        fail_on_failure: true

    - name: Add git status to summary
      if: always() # always run even if the previous steps fail
      run: |
        git add -A

        echo '### Resources to be added on automated update' >> $GITHUB_STEP_SUMMARY
        echo '' >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
        git status >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
