name: Update and Create Pull Request

on:
  schedule:
    - cron: '0 0 * * *'  # Run once a day
  workflow_dispatch: {}

jobs:
  update-and-create-pr:
    # Only on main repository (don't create PRs on forks)
    if: github.repository_owner == 'wetransform'

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2

    - name: Download resources and run tests
      run: |
        ./gradlew downloads jars haleResourceBundles publishJarsToMavenLocal :test:test
      env:
        ORG_GRADLE_PROJECT_wetfArtifactoryUser: ${{ secrets.WETF_ARTIFACTORY_USER }}
        ORG_GRADLE_PROJECT_wetfArtifactoryPassword: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 # v6.2.0
      if: always() # always run even if the previous step fails
      with:
        report_paths: "test/build/test-results/**/*.xml"
        require_tests: true

        # Workaround for check that is additionally created being associated
        # to the wrong workflow/run. Instead no additional check is created.
        # See https://github.com/mikepenz/action-junit-report/issues/40
        annotate_only: true
        detailed_summary: true
        fail_on_failure: true

    - name: Create Pull Request for changes
      # https://github.com/marketplace/actions/create-pull-request
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        commit-message: "refactor: automated resource update"
        committer: wetransform Bot <admin@wetransform.to>
        branch: auto-update
        title: Update offline resources
        body: |
          Please review the changes to the resources. Merge to create updated artifacts.

          To trigger the pull request check please manually close and reopen the pull request (see [here](https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#workarounds-to-trigger-further-workflow-runs) for more information).
        base: master
        reviewers: |
          stempler
          florianesser
          kapil-agnihotri

    - name: Notify slack on failure
      # https://github.com/marketplace/actions/slack-notify-build
      uses: voxmedia/github-action-slack-notify-build@3665186a8c1a022b28a1dbe0954e73aa9081ea9e # v1.6.0
      if: failure()
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
      with:
        channel: build-failures
        status: FAILED
        color: danger
